.section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../../pictures/images/Picture.png);
    width: 100%;
    height: 696px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    /* justify-content: center; */
  }

.container {
    /* padding: 100px 16px; */
    display: flex;
    flex-direction: column;
     justify-content: center;
     padding-left: 64px;
    /* gap: 20px; */
}
.title {
    color: #f7f7f7;
    font-size: 48px;
    font-weight: 600;
    line-height: 0.66667em;
    margin: 0;
}

.text {
    color: #f7f7f7;
    font-size: 24px;
    line-height: 1.33333em;
    margin: 16px 0 40px 0; 
    font-weight: 600;

}

.button:hover {
    background: #FFC531;
}


  
  /* @media screen and (min-resolution: 192dpi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px),
    screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
    .heroSection {
      background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url(../../pictures/images/Picture@2x.jpg);
        }} */